
.site-header{
    box-shadow: var(--shadow-dark);
    width: 100%;
    z-index: 2500;
}

.header-one {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    &__logo img{
        padding-top: .5rem;
        width: 100%;
        --startingDistance: 5rem;
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        /* backface-visibility: hidden; to avoid unnecesary shaky */
    }

    &__items {
        border: 0px dotted red;
        display: flex;
        align-items: center;
    }
}

